<div class="row" id="coffee-slider">
    <%= image_tag 'coffee-education.jpg', alt: 'Coffee Education', title: 'Coffee Education', width: '100%' %>
</div>
<style>
  #wrapper{margin-bottom:0;}
  #coffee-nav{margin-bottom: 0;}
  #coffee-slider{background:none;margin-bottom: 40px;}
</style>

<section class="container">
  <fieldset class="what-they-say-about-us" id="why-chose-us">
  <legend align="center"><span title="Coffee Education">COFFEE EDUCATION</span></legend>

  <article class="columns eight">
    <%= image_tag 'coffee-education-1.jpg',  style: "text-align:center;width:100%;"%>
  </article>

  <article class="columns eight">
    <h4>The choice is always yours</h4>
    <p>The quality of your materials is excellent, from a customer service point of view this has been fantastic throughout! The help and advice you gave me great and i will have no hesitation.
    </p>
  </article>

  </fieldset>
</section>
<section class="container">
  <fieldset class="what-they-say-about-us" id="why-chose-us">
    <article class="columns eight">
      <%= image_tag 'coffee-education-2.jpg',  style: "text-align:center;width:100%;"%>
    </article>

    <article class="columns eight">
      <h4>The choice is always yours</h4>
      <p>The quality of your materials is excellent, from a customer service point of view this has been fantastic throughout! The help and advice you gave me great and i will have no hesitation.
      </p>
    </article>
  </fieldset>
</section>

<section class="container">
  <fieldset class="what-they-say-about-us" id="why-chose-us">
    <article class="columns eight">
      <%= image_tag 'coffee-education-3.jpg',  style: "text-align:center;width:100%;"%>
    </article>

    <article class="columns eight">
      <h4>The choice is always yours</h4>
      <p>The quality of your materials is excellent, from a customer service point of view this has been fantastic throughout! The help and advice you gave me great and i will have no hesitation.
      </p>
    </article>
  </fieldset>
</section>