<div class="row" id="coffee-slider">
	<section class="container">
		<%= image_tag "coffee-tailors-front-slider.jpg", :title => "sliding coffee", :width => "100%" %>
	</section>
	<style>
		#wrapper{margin-bottom:0;}
	</style>
</div>

<div class="row" id="coffee-subscription-steps">
	<section class="container">
		<article class="columns four">
			<h2 class="step-title" title="Step One">1</h2>
			<p class="step-explanation">Choose a subscription plan</p>
		</article>
		
		<article class="columns four">
			<h2 class="step-title" title="Step Two">2</h2>
			<p class="step-explanation">Select your grind</p>
		</article>
		
		<article class="columns four">
			<h2 class="step-title" title="Step Three">3</h2>
			<p class="step-explanation">Wait for delivery</p>
		</article>
		
		<article class="columns four">
			<p class="step-subscribe" title="Subscribe now"><a href="/store"><span>SUBSCRIBE NOW!</span></a></p>
		</article>
	</section>
</div>

<!-- Blog and Instagram feed -->
<div class="container">
	<article class="columns eight" id="blog-feed">
		<div class="feed">	
			<h1 title="Blog feed">BLOG</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ..</p>
			<p style="text-align:center;"> CUPS HERE </p>
		</div>
	</article>
	
	<article class="columns eight" id="instagram-feed">
		<div class="feed">
			<h1 title="Instagram feed">LATEST INSTAGRAM</h1>
			<p>Instagram feed</p>
		</div>
	</article>
</div>


<section class="container">
	<fieldset class="what-they-say-about-us" class="">
		<span><legend>WHAT THEY SAY ABOUT US!</legend></span>
			
		<article class="columns four">
			<p>The quality of your materials is excellent, from a customer service point of view this has been fantastic throughout! The help and advice you gave me great and i will have no hesitation.
			</p>
			<p><em>&mdash; Miss Shook Liu</em></p>
		</article>
		
		<article class="columns four">
			<p>The quality of your materials is excellent, from a customer service point of view this has been fantastic throughout! The help and advice you gave me great and i will have no hesitation.
			</p>
			<p><em>&mdash; Miss Shook Liu</em></p>
		</article>
		
		<article class="columns four">
			<p>The quality of your materials is excellent, from a customer service point of view this has been fantastic throughout! The help and advice you gave me great and i will have no hesitation.
			</p>
			<p><em>&mdash; Miss Shook Liu</em></p>
		</article>
		
		<article class="columns four">
			<p>The quality of your materials is excellent, from a customer service point of view this has been fantastic throughout! The help and advice you gave me great and i will have no hesitation.
			</p>
			<p><em>&mdash; Miss Shook Liu</em></p>
		</article>
		
	</fieldset>
</section>
<div class="row">
<section class="container">
	<fieldset class="featured-roasters" class="">
		<span><legend>FEATURED COFFEE ROASTERS</legend></span>
			
		<article class="columns five">
			<p>The quality of your materials is excellent, from a customer service point of view this has been fantastic throughout! The help and advice you gave me great and i will have no hesitation.
			</p>
			<p><em>&mdash; Miss Shook Liu</em></p>
		</article>
		
		<article class="columns five">
			<p>The quality of your materials is excellent, from a customer service point of view this has been fantastic throughout! The help and advice you gave me great and i will have no hesitation.
			</p>
			<p><em>&mdash; Miss Shook Liu</em></p>
		</article>
		
		<article class="columns six">
			<img src="" alt="hands on coffee" title="hands-on coffee roaster" style="width:60px;height:60px;float:left;">
			<p>The quality of your materials is excellent, from a customer.</p>
			<p><em>&mdash; <a href="/coffee-roasters">See previous roasters</a></em></p>
		</article>
		
	</fieldset>
</section>
</div>