<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
	<li id="home-link" data-hook><%= link_to t(:home), main_app.root_path %></li>
    <li id="home-link" data-hook><%= link_to t('coffee subscription'), spree.root_path %></li>
  </ul>
</nav>
