<nav id="top-nav-bar" class="columns ten">
  <ul id="nav-bar" class="inline" data-hook>
	<% if !logged_in? %>
	<li><%= link_to "Sign up", signup_path %></li>
	<% end %>
    <li id="search-bar" data-hook>
	<!-- Search form goes here. <li> used by devise_deface -->
	<!-- render :partial => 'spree/shared/search'  -->
    </li>
    <li id="link-to-cart" data-hook><%= link_to_cart %></li>
  </ul>
</nav>
